.page-container{
  background: url("/or.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:calc(100vh + 24px);
  .grid-root-container {

    max-width: max-content;
    .MuiDataGrid-main {
      direction: rtl !important;
    }
    //
    //.MuiDataGrid-footerContainer {
    //  direction: ltr !important;
    //}
  }
  .doc-svg-icon{
    background-image: url("/doc-svg-icon.svg");
  }
}

